body {
    /* max-width: 960px; */
    margin: 0 auto;
    background-image: url(Images/farm.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.jumbotron-fluid {
    border-radius: 0;
    color: white;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
        1px 1px 0 #000;
    margin-top: 20px;
}

#header {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

h1 {
    font-family: 'Kaushan Script', cursive;
}

h3, h4, h2 {
    font-family: 'Quicksand', sans-serif;
}

h4, .form-group, h2 {
    color: white;
}

.btn {
    color: #eac416;
    background-color: white;
    font-family: 'Quicksand', sans-serif;
}

#main-body {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    text-align: center;
    background-color: #eac416;
    font-family: 'Quicksand', sans-serif;
    color: black;
    margin-top: 10px;
 }

 a {
    color: #0052c2;
 }