body {
    /* max-width: 960px; */
    margin: 0 auto;
    background-image: url(../images/farm.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.jumbotron-fluid {
    border-radius: 0;
    color: white;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

#header {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

.btn {
    color: #eac416;
    /* text-shadow:
		-1px -1px 0 #cb0,
		1px -1px 0 #cb0,
		-1px 1px 0 #cb0,
		1px 1px 0 #cb0; */
}

.footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    text-align: center;
 }